<!-- Top banner -->

<%= render 'shared/banner',
    title: "Smoothie Heaven",
    subtitle: "Delicious smoothies for all occasions",
    cta: "Add your favorite"
%>

<!-- card grid -->

<div class="container">
  <h2>Smoothies</h2>
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path c.photo.present? ? c.photo : "card_img2.jpg" , crop: :scale, gravity: :center; %>')">
          <div class="card-description">
            <h3><%= c.name %></h3>
          </div>
          <%= link_to "", cocktail_path(c), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
