<!-- Top banner -->

<%= render 'shared/banner',
    title: "Smoothie Heaven",
    subtitle: "Delicious smoothies for all occasions",
    cta: "Add your favorite"
%>

<!-- card grid -->


<div class="container">
  <h2>Smoothies</h2>
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-md-3">
        <%= render 'shared/card', name: c.name, link: cocktail_path(c) %>
      </div>
    <% end %>
  </div>
</div>
