

<!-- New submit form -->

<div class="show-container" >
  <h2>Add your smoothie</h2>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Add smoothie" %>
<% end  %>
</div>
