.small-image{
  margin: 15px 0 30px 0;
}

.photo-btn {
  padding: 10px;
  background-color: #7DCE82;
  outline-style: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 25px;
  font-weight: lighter;
  width: 150px;
}

 .photo-btn:hover {
    background-color: #67A96B;
  }

 .photo-btn:active {
    background-color: #67A96B;
  }

.button-margin {
   margin: 30px 0;
}
