<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path('card_img2.jpg')%>);">
  <div class="card-category">Smoothie</div>
  <div class="card-description">
    <h2><%= name %></h2>
  </div>
  <%= link_to '', link, class: "card-link" %>
</div>

