<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %> <i class="fab fa-github"></i> <% end %>
    <%= link_to root_path do %> <i class="fab fa-facebook"></i> <% end %>
    <%= link_to root_path do %> <i class="fab fa-twitter"></i> <% end %>
    <%= link_to root_path do %> <i class="fab fa-linkedin"></i> <% end %>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> by Krisztina at Le Wegan
  </div>
</div>
